/*I deeply apolgize to anyone who reads this CSS. 
I wrote this before I knew what clean CSS looked like.
*/

.tweet{

	padding: 20px;
	border-bottom: 1px solid #C8C8C8;
}

.newsfeed{

	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; /* future proofing */

}

.newsfeed{

}

textarea{ 

  height:100px; 
  min-height:100px;  
  max-height:100px;
}

.navbar-default{

	padding: 5px;
	background-color: white;
	border-bottom: 5px solid yellow;
}

#newsfeed{

	border-top: 5px solid #0784EF
}

#newsfeed .panel-heading{

	background-color: white;
}

.gray{

	color:gray;
}

body{

  background-image:url('../images/triangular.png');
  background-repeat: repeat;
}
.circleBase {
border-radius: 50%;
behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}

.type1,.overlay {
	margin-top: 100px;
    width: 200px;
    height: 200px;
    background-color: none;
    border: 1px solid gray;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
}

.type1{

  background-color: white;
}

.padding{


}

.gray{

  color: gray;
}
.down100{

  margin-top: 50px;
}

p{

  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 15px;
}

strong{

  text-align: center;
}

hr{

     display: block;
margin: 3px 0;
}

.overlay{

  margin-top: -200px;
  background-color:rgba(200,200,200,.8);
}
.navbar-default{

  background: white;
  border: none;
}
.movedown{

	margin-top: 50px;
}
